<footer style="--ta: center; --bgc: #f1edf7; --w: 100vw; --c: black; box-shadow: 15px 0px 10px rgba(0, 0, 0, 0.4);">
  
  <p>Web Design and Development by ChasTech inc.</p>
  
  &copy; 2025 WHMIS Wise. All rights reserved.
</footer>
