<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Header</title>
    <style>
        body {
           
        }

        .header {
            display: flex;
            width: 90vw;
            justify-content: center;
            align-items: center;
            margin-top: 50px;         
            height: 100px;
            direction: flex;
        }
        .line {
				flex-grow: 1;
				height: 2px;
				background-color: black;
                
			}
    </style>
</head>
<body>

    <div class="header">
    
        <div class="logo" >
        <img style="--h: auto; width: 27vw; min-width: 200px;   max-width: 400px; " src="/assets/whimiswise.png" alt="Logo">
        
        
        </div>
        
       
    </div>

    <!-- Additional content goes here -->
</body>