<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Header</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            width: 100vw;
            justify-content: center;
            align-items: center;
            padding: 1px 10px;
          
            
        }
        .line {
				flex-grow: 1;
				height: 2px;
				background-color: black;
                
			}
    </style>
</head>
<body>

    <div class="header">
    
        <div class="logo" style="--d: flex; --ai: center; --jc: center;  text-align: center; padding-left: 10px;">
        <!--<img style="--h: 60px; --mr: 10px;" src="/assets/logo.png" alt="Logo">-->
        
        <div style="--size: 21px; --weight: bold; --mt: 40px; --ff: 'Times New Roman', Times, serif; --ls: 0.1em; --size-lg: 70px; --ls-lg: 0.1em;">
        <span style="color: #b30000;">WHIMIS</span>Wise
        
        
        </div>
       
        </div>
        
       
    </div>

    <!-- Additional content goes here -->
</body>