    <style>
        .navbar {
            position: sticky;
            top: 0;
            display: flex;
            justify-content: flex-start;
            padding: 15px;
            width: 100vw;
            z-index: 100;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            background: linear-gradient(135deg, white 0%, white 35%, #ffc34d 35%, #ffc34d 100%);
            }

    
    @media (max-width: 768px) {
        .navbar {
            background: white; /* Or any solid color */
            }
        }
    </style>

    <nav class="navbar">
    
        <a style=" --shadow-hvr: 10; --w: 110px; --p: 14px 20px; --c: black; --ta: center; --td: none; --c-hvr: white; --radius-hvr: 4px; --bg-hvr: #7091e6;" href="/index/">Home</a>
        <a style=" --shadow-hvr: 10; --w: 110px;--p: 14px 20px; --c: black;--ta: center; --td: none;  --c-hvr: white; --radius-hvr: 4px; --bg-hvr: #7091e6;" href="/about/">About</a>
        <a style=" --shadow-hvr: 10; --w: 110px;--p: 14px 20px; --c: black;--ta: center; --td: none; --c-hvr: white;  --radius-hvr: 4px; --bg-hvr: #7091e6;" href="/faq/">FAQ</a>
        <a style=" --shadow-hvr: 10; --w: 110px;--p: 14px 20px; --c: black;--ta: center; --td: none; --c-hvr: white;  --radius-hvr: 4px; --bg-hvr: #7091e6;" href="/contact/">Contact</a>
    

    <div style="display: flex; gap: 10px; margin-left: auto;">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/flame.png" alt="Logo">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/corrosion.png" alt="Logo">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/exclamation_mark.png" alt="Logo">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/flame_circle.png" alt="Logo">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/health_hazard.png" alt="Logo">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/gas_cylinder.png" alt="Logo">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/skull_crossbones.png" alt="Logo">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/environment.png" alt="Logo">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/exploding_bomb.png" alt="Logo">
        <img style="--h: 60px; --mr: 10px; class="hide-on-mobile" src="/assets/biohazardous.png" alt="Logo">
     </div>   
   
    </nav>